apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets
resources:
- namespace.yaml
- cluster-secret-store.yaml
helmCharts:
- name: external-secrets
  repo: https://charts.external-secrets.io
  releaseName: external-secrets
  namespace: external-secrets
  includeCRDs: true
  valuesInline:
    installCRDs: true
